workflows/ai-content-routing-pattern.json
{
  "name": "AI Content Routing Pattern",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [160, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"content_type\"]}}",
              "operation": "equal",
              "value2": "shorts"
            }
          ]
        }
      },
      "id": "routeContent",
      "name": "Route by Content Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { destination: 'shorts-pipeline' } }];"
      },
      "id": "shortsPath",
      "name": "Send to Shorts Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 220]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { destination: 'general-content-pipeline' } }];"
      },
      "id": "generalPath",
      "name": "Send to General Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 380]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Route by Content Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Content Type": {
      "main": [
        [
          {
            "node": "Send to Shorts Pipeline",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to General Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
